@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Bucuresti<br />
    B-dul Unirii, 56<br />
    <abbr title="Phone">Tel:</abbr>
    0734662201
</address>

<address>
    <strong>Support:</strong> <a href="mailto:da@da.com">da@da.com</a><br />
</address>
